<div class='dashboard'>
  <div class='option-menus'>
    <a class='trip-options' href='#/trip/new'>Start New Trip</a>
    <a class='trip-options' href="#/my-trips">View Previous Trips</a>
  </div>
  <div class='graphs'>
    <canvas id="bar" class="chart chart-bar" chart-data="dashboard.data" chart-labels="dashboard.labels" chart-series="dashboard.series"></canvas>
    <canvas id="bar2" class="chart chart-bar" chart-data="dashboard.data" chart-labels="dashboard.labels" chart-series="dashboard.series"></canvas>
  </div>
</div>
