<ui-gmap-google-map center="trip.map.center" zoom="trip.map.zoom" options="trip.options">
  <ui-gmap-search-box events="trip.searchEvents" template="searchBox.html"></ui-gmap-search-box>
  <ui-gmap-markers models="trip.markers" coords="'self'" icon="'icon'" click="trip.markerClick">
  <ui-gmap-windows show="show">

  </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>
<div class='trip-stats'>
  <div ng-repeat="pitstop in trip.journey" class='trip-point' ng-click="trip.moveToPitstop(pitstop)">
    <span>{{$index + 1}}</span>
  </div>
  <div class='new-point' ng-click="trip.journey.length === 0 ? trip.showAddPointForm() : trip.showCheckpointForm()">
    <i class='fa fa-plus'></i>
  </div>
</div>
<div class="new-point-form" ng-show="trip.addPointFormShown">
  <h3>Start your journey</h3>
  <form ng-submit="trip.addPitstop()">
    <input type='text' ng-model="trip.pitstop.name" placeholder='Name...'>
    <select ng-model="trip.pitstop.type" ng-options="option.name for option in trip.tripTypeOptions"></select>
    <input type='text' ng-model="trip.pitstop.friends" placeholder='Friends youre travelling with'>
    <input type='text' ng-model="trip.pitstop.location" placeholder='Start location'>
    <input type='text' ng-model="trip.pitstop.startTime" placeholder='Start time'>
    <input type='submit' value='Add' />
  </form>
</div>
<div class="new-checkpont-form" ng-show="trip.addCheckpointFormShow">
  <h3>Oh pee break?!</h3>
  <form ng-submit="trip.addCheckpoint()" enctype="multipart/form-data">
    <input type='text' ng-model="trip.checkpoint.text" placeholder='Name...'>
    <input type='file' ng-model="trip.checkpoint.image" placeholder='Friends youre travelling with'>
    <input type='text' ng-model="trip.checkpoint.location" placeholder='Start location'>
    <input type='text' ng-model="trip.checkpoint.timestamp" placeholder='Start time'>
    <input type='submit' value='Add' />
  </form>
</div>
<div class="new-checkpont-form" ng-show="trip.endTripFormShow">
  <h3>End Trip</h3>
  <form ng-submit="trip.endTrip()" enctype="multipart/form-data">
    <input type='number' ng-model="trip.endtrip.text" placeholder='Name...'>
    <input type='checkbox' ng-model="trip.endtrip.image" placeholder='Friends youre travelling with'>
    <input type='text' ng-model="trip.endtrip.location" placeholder='Start location'>
    <input type='text' ng-model="trip.endtrip.timestamp" placeholder='Start time'>
    <input type='submit' value='Add' />
  </form>
</div>

<script type='text/ngTemplate' id="searchBox.html">
  <inout type='text' placholder="Search for a place...">
</script>
